{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(modifierForm) }}

    {{ form_widget(modifierForm) }}

    <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}"><button class="button-blue">Supprimer la sortie</button></a>}

    {{ form_end(modifierForm) }}
{% endblock %}