{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    {#<a href={{ path('') }} class="btn btn-link">Annuler</a>#}

    {{ form_end(sortieForm) }}
{% endblock %}