body {
    font-family: DMsans;
    background: #fefefe;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #1C5588;

}
/*
nav {
    display: flex;
    gap: 0.5em;
    margin-bottom: 50px;
} */

h1 {
    color: #7acfb0;
    text-align: center;
    margin-bottom: 40px;
}

a {
    color: #1C5588;
    text-decoration: underline;
    display: inline-block;
}

a:hover {
    color: #7acfb0;
    transition: color 0.3s ease;
}

button {
    padding: 10px 40px;
    border: solid 4px;
    border-radius: 40px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    transition: color 0.3s ease;
    background-color: #fefefe;
}

table {
    margin-bottom: 50px;
}

td {
    text-align: center;
    padding: 10px;
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1em;
}