{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload User CSV</h1>
    {{ form_start(form) }}
        {{ form_row(form.csvFile) }}
        <button type="submit">Upload</button>
    {{ form_end(form) }}
{% endblock %}