{% extends 'base.html.twig'%}

{%block body%}

    <div>
        {{ form_start(userForm) }}

        {{ form_widget(userForm) }}

        <button> Submit </button>

        {{ form_start(userForm) }}

    </div>
{% endblock %}

{%  block title %}
Modifie User
{%  endblock %}