{% extends 'base.html.twig'%}

{%block body%}

    <h1>  Mon profil  </h1>

    <div id=form-monprofil>
        {{ form_start(userForm) }}

        {{ form_widget(userForm) }}

        <button> Submit </button>

        {{ form_start(userForm) }}
    </div>
{% endblock %}

{%  block title %}
Modifie User
{%  endblock %}